:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.global {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  width: 100vw ;
  background-image: linear-gradient(0.25turn,#f9f2e4, #cbebde);
}


.left{
  text-align: center;
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.left h1, p{
  margin : 0;
  color: #ffffff;
}

.left_text{
  width: 40%;

}


.left_text p{
  font-weight: 100;
  color: #9f9f9f;
  font-size : 1vw
}

.left_text h1{
  font-weight: 500;
  font-size: 1.9vw;
  margin-bottom: 5%;
}


.card{
  width: 100%;
  max-width: 100%;
  height: 80%;
  margin-bottom: 10%;
  background-color: #242627;
  color: #ffffff;
  border-radius: 20px ;
  font-size: 0.5vw;
  display: flex;
}





.slide{
  opacity: 30%;
  transition: opacity 0.5s ease;
   
}


.slide.selected{
  opacity: 100%;
  
}

.slide.previous{
  opacity: 0%;
  
}



.cardContainer{
  margin: auto;
  margin-top: auto;
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cardContainer h2{
  text-align: left;
  height: 70%;

  font-size: 1vw;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0;
}

.cardContainer  p ,h3{
  text-align: left;
  margin: 0;
}

.card img{
  border-radius: 50%;
  height: 50px;
}

.userInfo{
  display: flex;
}

.userInfo img{
  margin-right: 5%;
}
.caroussel_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: auto;
}

.carousel .slide {
  height: 16vw; 
  width: 100% ;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.carousel .control-dots {
  position: absolute;
  bottom: -5%;
}

.carousel-root{
  height : 50%;
}


.form{
  height: 70%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.right_form{
  text-align: center;
  width: 50.1%;
  height: 100.1%;
  background-color: white ;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  border-radius: 28px;
}

.form h2{
  color: #000000;
  font-size: 2vw;
  margin-top: 0;

}

.form h5, h6{
  color: #939393;
  font-size: 0.5vw;
}

.form input{
  font-size: 0.7vw;
}

.form input[list]{
  font-weight: 900;
  color:#000000;
}

.form button{
  margin-bottom: 5%;
}

.contentContainer{
  display: flex;
  align-items: center; 
  background-color: #1a1a1a;
  width: 90%;
  height: 80%;
  border-radius: 30px ;
  background-image: url('../public/testBG.png');

}

.form form{
  height: 100%;
}


input[type=text], input[type=password], input[type=list]{

    width: 100%;
    padding: 3% 5%;       
    margin-bottom: 1vh;
    border-radius: 5px;
    background-color: #f1f1f1;
    border: #000000; 
    text-align: left;         
    direction: ltr;            
    box-sizing: border-box;    
    font-size: 1vh;
}

a {
  font-weight: 600;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  width:50%;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
  font-size: 0.8vw;
}
button:hover {
  border-color: #000000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.h6{
  width: 2px;
}

.checkbox-container {
  display: flex;
  gap: 5px;
  font-size: 1vw;
}

.checkbox-container h6{
  margin: 2%;
}

button.active {
  background-color: #000000; /* green highlight */
  color: white;
}

.submit_button{
  background-color: rgb(255, 105, 50);
  color: white;
  width:100%;
  font-size: 0.8vw;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #000000;
  }



}
